<!DOCTYPE html>
<html>
  <head>

    {% capture meta_title %}
      {% if product %}
        {% assign cat = product.categories[0] %}
        {{ shop.main_page_title }} - {% if cat %}{{ cat.name }} - {% endif %} {{ product.name }}
      {% else %}
        {% if current_category %}
            {{ shop.main_page_title }} - {{ current_category.name }}
          {% else %}
            {% if page %}
              {{ shop.main_page_title }} - {{ page.title }}
            {% else %}
              {{ shop.main_page_title }}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endcapture %}

    <meta charset="utf-8" />
    <title>{{ meta_title | strip_newlines | strip_html }}</title>

    <!--[if lt IE 9]>
      <script src="http://www.ombushop.com/assets/themes/acqua_blue/javascripts/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <!-- Ombu Shop - Default CSS -->
    <link href='https://secure.ombushop.com/assets/shops/default.css' rel='stylesheet' type='text/css' />

		<!-- Ombu Shop - Theme: Acqua Blue -->

    <!-- Google typography and Fontawesome -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='/themes/acqua_blue/stylesheets/reset.css' rel='stylesheet' type='text/css' />
    <link href='/themes/acqua_blue/stylesheets/basic.css' rel='stylesheet' type='text/css' />
    <link href='/themes/acqua_blue/stylesheets/buttons.css' rel='stylesheet' type='text/css' />
    <link href='/themes/acqua_blue/stylesheets/advice.css' rel='stylesheet' type='text/css' />
    <link href='/themes/acqua_blue/stylesheets/contact.css' rel='stylesheet' type='text/css' />

    {{ 'shop.css' | asset_url | stylesheet_tag }}
    {{ 'products.css' | asset_url | stylesheet_tag }}

    <link href='/themes/acqua_blue/stylesheets/logo.css' rel='stylesheet' type='text/css' />

    <script src='/themes/acqua_blue/javascripts/jquery-1.4.2.min.js' type='text/javascript'></script>
    <script src='/themes/acqua_blue/javascripts/jquery.validate.min.js' type='text/javascript'></script>
    <script src='/themes/acqua_blue/javascripts/rails.js' type='text/javascript'></script>
    <script src='/themes/acqua_blue/javascripts/application.js' type='text/javascript'></script>

    <!-- CloudZoom: CSS and JS -->
    <script src='/themes/acqua_blue/javascripts/cloud-zoom.1.0.2.min.js' type='text/javascript'></script>

    <!-- jQuery Masonry -->
    <script src='/themes/acqua_blue/javascripts/masonry.pkgd.min.js' type='text/javascript'></script>
    <script src='/themes/acqua_blue/javascripts/jquery.imagesloaded.min.js' type='text/javascript'></script>

    <script src='/themes/acqua_blue/javascripts/product.min.js' type='text/javascript'></script>

    {{ content_for_header }}

    <script type="text/javascript">
      jQuery(document).ready(function(){
        // masonry
        var $container = $('.product-listing');
        $container.imagesLoaded(function(){

          $container.masonry({
            isAnimated: true,
            isResizable: true,
            isFitWidth: true,
            columnWidth: 250,
            gutter: 15,
            itemSelector: '.product'
          });

        });
        // categories menu
        $('#taxonomies ul.navigation-list > li > ul').show();
        var categories_opened = true;
        $('#taxonomies > ul.navigation-list > li > h5').click(function(e){
          if(categories_opened == true){
            // close categories
            $('#taxonomies ul.navigation-list > li > ul').slideUp(300);
            $('#taxonomies > ul.navigation-list').removeClass("opened");
            categories_opened = false;
          } else {
            // open categories
            categories_opened = true;
            $('#taxonomies > ul.navigation-list').addClass("opened");
            $('#taxonomies ul.navigation-list > li > ul').slideDown(300);
          }
        });
      });
    </script>

    {% if product %}
    <!-- Facebook: inicio de metatags -->
    <meta property="og:title" content="{{ shop.main_page_title }} - {{ product.name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ product.url }}" />
    <meta property="og:image" content="{{ product.featured_image | image_size: 'original' }}" />
    <meta property="og:site_name" content="{{ shop.main_page_title }}" />
    <meta property="fb:app_id" content="148526658594891" />
    <!-- Facebook: fin de metatags -->

    <!-- Twitter: inicio de metatags -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:domain" content="{{ shop.url }}">
    <meta name="twitter:title" content="{{ product.name }}">
    <meta name="twitter:image" content="{{ product.featured_image.src }}">
    <meta name="twitter:label1" content="Categorías">
    <meta name="twitter:data1" content="{% for category in product.categories %} - {{ category.name }} {% endfor %}">
    <meta name="twitter:label2" content="Precio">
    <meta name="twitter:data2" content="{{ product.price_with_currency }}">
    <!-- Twitter: fin de metatags -->
    {% else %}
    <!-- Twitter: inicio de metatags -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ shop.name }}" />
    <meta property="twitter:description" content="Tienda online" />
    <meta property="twitter:image" content="{{ shop.shop_logo | logo_size: 'header' }}" />
    <meta property="twitter:url" content="{{ shop.url }}" />
    <!-- Twitter: fin de metatags -->
    {% endif %}

  </head>

  <body class="theme-aqua-blue{% if template == 'show' %} template-show{% endif %}{% if template == 'index' %} template-index{% endif %}{% if template == 'page' %} template-page{% endif %}" {% if template == 'show' %} id="product-details" {% endif %}>

    <!-- facebook code -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- end facebook code -->

    <!-- Menú de navegación de panel de administración -->
    {{ admin_bar }}

      {% include 'flash' %}

      <div id="page-container">

        <header>
          <div id="header-content">
          {% include 'logo' %}
          <div id="search_bar">
            <form accept-charset="UTF-8" action="/products" method="get">
              <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="✓" />
              </div>
              <label for="keywords">Buscar</label>
              <input id="keywords" name="keywords" type="text" value="{{ keywords }}" />
              <input type="submit" value="Buscar" id="search-button" />
            </form>
          </div>
          <div id="contact-info">
            <ul>
              {% for social_network in social_networks %}
                {% if social_network[0] != "phone" %}
                  <li class="{{ social_network[0] }}"><a href="{{ social_network[1] }}" target="_blank"><i class="fa fa-{{ social_network[0] }}"></i></a></li>
                {% endif %}
              {% endfor %}

              {% for social_network in social_networks %}
                {% if social_network[0] == "phone" %}
                  <li class="phone"><i class="fa fa-phone"></i> {{ social_network[1] }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div id="cart-bar">
            <p class="cart-indicator">
              {% if current_order.item_count == 0 %}
                <a href="/cart" class="empty" title="Cart">Carrito: (Vacío)</a>
              {% else %}
                <a href="/cart" class="full" title="Cart">Carrito: {{ current_order.item_count }}</a>
              {% endif %}
            </p>
          </div><!-- end #cart-bar -->


        </div>
        <div id="sub-header">
          <nav id="nav-container">
            <ul id="navigation-bar">
              {% for page in pages %}
              <li {% if (page.url contains current_path and current_path != "/") or (current_path == "/" and page.is_homepage) %}class="current-page"{% endif %}><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></li>
              {% endfor %}
              <li {% if (current_path == "/products") %}class="current-page"{% endif %}><a href="/products">Productos</a></li>
            </ul>
          </nav>
        </div>
        </header>

        {{ content_for_layout }}
        <div class="push"></div>
      </div> <!-- end #page-container -->
      <footer>
        <div class="footer-container">
          <div class="store_footer">
          <div id="logo">
            {% include 'logo' %}
          </div>
          <p>{{ shop.footer }}</p>
        </div>
        <nav>
          <h1>Navegación</h1>
          <ul>
            {% if shop.homepage %}
              <li><a href="/products">Productos</a></li>
            {% endif %}
            {% for page in pages %}
              <li {% if page.url contains current_path and current_path != "/" %}class="current-page"{% endif %}><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <div id="contact-info">
          <h1>Contacto</h1>
          <ul>
              {% for social_network in social_networks %}
                {% if social_network[0] != "phone" %}
                  <li class="{{ social_network[0] }}"><a href="{{ social_network[1] }}" target="_blank"><i class="fa fa-{{ social_network[0] }}"></i></a></li>
                {% endif %}
              {% endfor %}

              {% for social_network in social_networks %}
                {% if social_network[0] == "phone" %}
                  <li class="phone"><i class="fa fa-phone"></i> {{ social_network[1] }}</li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
      </div>
      <div id="ombushop-footer">
        <div class="footer-container">
          <a href="http://www.ombushop.com/tu-tienda-online?utm_source=shop&utm_medium={{shop.name}}" target="_blank" title="Crea tu tienda OmbuShop en minutos" > Crea tu tienda <strong>OmbuShop</strong> en minutos.</a>
        </div>
      </div>
    </footer>

    <!-- pinterest code -->
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <!-- end pinterest code -->
    {{ content_for_footer }}
  </body>
</html>
